.App {
	text-align: center;
}

li{
	list-style: none;
}

div .infoBox{
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: fit-content;
	background-color: chocolate;
}

h2 .infoBox{
	text-align: center;
}

table{
	width: max-content;
	background-color: aqua;
}



li{
	background-color: #ddd;
	border: none;
	color: black;
	padding: 10px 20px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	margin: 4px 2px;
	cursor: pointer;
	border-radius: 16px;
  }